<% content_for :head do %>
    <title>Piles</title>
    <%= stylesheet_link_tag 'piles' %>
<% end %>


<div id="<%= @pile.id %>" class="pile">
  <div id="pile_title_<%= @pile.name %>" class="pile_title">
    <div><%= @pile.name.titleize %></div>
    <div class="pile_count"> (<%= @pile.count %>)</div>
    <div class="delete_pile">X</div>
  </div>

  <div class="pile_runs">
    <div class="run_type">
      <%= render :partial => "run", :collection => @pile.lands %>
      <div class="run_type_summary">
	<%= @pile.lands.count %> lands
      </div>
    </div>

    <div class="run_type">
      <%= render :partial => "run", :collection => @pile.creatures %>
      <div class="run_type_summary">
	<%= @pile.creatures.count %> creatures
      </div>
    </div>

    <div class="run_type">
      <%= render :partial => "run", :collection => @pile.spells %>
      <div class="run_type_summary">
	<%= @pile.spells.count %> other spells
      </div>
    </div>
  </div>

</div>