<div class="portlet">
  <div id="run<%= card.id%>">
  <div class="run_count"><%= run.count %></div>
  <div class="card_name"><%= run.name %></div>
  <div class="cc"><%= run.cc %></div>
  <div class="cmc"><%= run.cmc %></div>
  <div><span class='delete_run' href=''>X</span></div>
</div>
