<table id="<%= pile.id %>" class="pile">
  <tr>
    <td><%= pile.count %></td>
    <td id="pile_title_<%= pile.name %>"><%= pile.name.titleize %></td>
    <td><span class="ui-icon ui-icon-closethick"><%= pile.id %></span></td>
  </tr>
  <tr>
    <td class="lands"><%= render :partial => "run", :collection => pile.lands %></td>
    <td class="creatures"><%= render :partial => "run", :collection => pile.creatures %></td>
    <td class="spells"><%= render :partial => "run", :collection => pile.spells %></td>
  </tr>
  <tr>
    <td>Lands</td>
    <td>Creatures</td>
    <td>Spells</td>
  </tr>
</table>
