<table id="<%= pile.id %>" class="pile">
  <tr>
    <td class="pile_count"><%= pile.count %></td>
    <td id="pile_title_<%= pile.name %>"><%= pile.name.titleize %></td>
    <td class="pile_delete"><span class="ui-icon ui-icon-closethick"><%= pile.id %></span></td>
  </tr>
  <tr>
    <td class="lands"><%= render :partial => "run", :collection => pile.lands %></td>
    <td class="creatures"><%= render :partial => "run", :collection => pile.creatures %></td>
    <td class="spells"><%= render :partial => "run", :collection => pile.spells %></td>
  </tr>
  <tr>
    <td><span class="land_count"><%= pile.land_count %></span> Lands</td>
    <td><span class="creature_count"><%= pile.creature_count %></span> Creatures</td>
    <td><span class="spell_count"><%= pile.spell_count %></span> Spells</td>
  </tr>
</table>
