<div id="<%= pile.id %>" class="pile">
  <div id="pile_title_<%= pile.name %>" class="pile_header">
    <div><%= pile.name.titleize %></div>
    <div class="pile_count"> (<%= pile.count %>)</div>
    <div class="delete_pile">
      <span class="invis"><%= pile.id %></span>
      <span>X</span>
    </div>
  </div>

  <div class="pile_runs">
    <div class="run_type land_stack">
      <%= render :partial => "run", :collection => pile.lands %>
    </div>

    <div class="run_type creature_stack">
      <%= render :partial => "run", :collection => pile.creatures %>
    </div>

    <div class="run_type spell_stack">
      <%= render :partial => "run", :collection => pile.spells %>
    </div>
  </div>

  <div class="pile_footer">
    <div class="run_type_summary">
      <%= pile.lands.sum(&:count) %> lands
    </div>
    <div class="run_type_summary">
      <%= pile.creatures.sum(&:count) %> creatures
    </div>
    <div class="run_type_summary">
      <%= pile.spells.sum(&:count) %> other spells
    </div>
  </div>

</div>
