<div id="<%= pile.id %>" class="pile">
  <div id="pile_title_<%= pile.name %>" class="pile_header">
    <div><%= pile.name.titleize %></div>
    <div class="pile_count"> (<%= pile.count %>)</div>
    <div class="delete_pile">
      <span class="ui-icon ui-icon-closethick"><%= pile.id %></span>
    </div>
  </div>

  <div class="pile_runs">
    <div class="run_type">
      <%= render :partial => "run", :collection => pile.lands %>
    </div>

    <div class="run_type">
      <%= render :partial => "run", :collection => pile.creatures %>
    </div>

    <div class="run_type">
      <%= render :partial => "run", :collection => pile.spells %>
    </div>
  </div>

  <div class="pile_footer">
    <div class="run_type_summary">
      <%= pile.lands.count %> lands
    </div>
    <div class="run_type_summary">
      <%= pile.creatures.count %> creatures
    </div>
    <div class="run_type_summary">
      <%= pile.spells.count %> other spells
    </div>
  </div>

</div>
