<div id="run<%= run.id%>" class="portlet">
  <div style="float: left" class="run_count"><%= run.count %></div>
  <div style="float: left" class="card_name"><%= run.name %></div>

  <div style="float: right"><span class='delete_run' href=''>X</span></div>
  <div style="float: right" class="cmc"><%= run.cmc %></div>
  <div style="float: right" class="cc"><%= run.cc %></div>
</div>
