<% content_for :head do %>
    <title>Deck Editor</title>
    <%= javascript_include_tag 'ba-debug.min', 'command_parser', 'editor/chris' %>
    <%= stylesheet_link_tag 'chris_editor' %>

	<script>
	$(function() {
	});
	</script>
<% end %>

<style>
  .column { width: 300px; float: left;}
  .portlet { margin: 0 1em 1em 0; }
  .portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
  .portlet-header .ui-icon { float: right; }
  .portlet-content { padding: 0.4em; }
  .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
  .ui-sortable-placeholder * { visibility: hidden; }
  .deckEditor {display:inline; height:620px; width:1200px; position:absolute;}
  .deckWorkspace {display:inline; height:620px; width:880px; position:relative; float:left;}
  .searchWidget  {display:inline; height:620px; width:320px; position:relative; float:left;}
</style>
<script>
  $(function() {
  $( ".column" ).sortable({
     connectWith: ".column"
  });
  
  $( ".portlet" ).addClass( "ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" )
     .find( ".portlet-header" )
     .addClass( "ui-widget-header ui-corner-all" )
     .prepend( "<span class='ui-icon ui-icon-minusthick'></span>")
     .end()
     .find( ".portlet-content" );
  
  $( ".portlet-header .ui-icon" ).click(function() {
    $( this ).toggleClass( "ui-icon-minusthick" ).toggleClass( "ui-icon-plusthick" );
    $( this ).parents( ".portlet:first" ).find( ".portlet-content" ).toggle();
  });
  
  $( ".column" ).disableSelection();
  });
</script>

<% cols = 5 %>

<div id="new_pile_form" title="Create new pile">
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
    </fieldset>
  </form>
</div>


<div id="deck_name_container" class="title_block">
  <span class="title" id="deck_name_show"><%= @deck.name %></span>
  <input id="deck_name_field" style="display: none;" />
  <a id="edit_deck_name"><%= image_tag 'pencil.png' %></a>
</div>

<div class="deckEditor">
  <div class="searchWidget">
    <%= render :partial => "cards/search" %>
  </div>
  <div class="deckWorkspace">
    <%= render :partial => "pile", :collection => @deck.piles %>
  </div>
</div>

<div id="templates" class="invis">
  <%= render :partial => "pile", :collection => [Pile.new] %>
  <%= render :partial => "run" %>
</div>