<% content_for :head do %>
    <title>Deck Editor</title>
    <%= javascript_include_tag 'ba-debug.min', 'command_parser', 'jquery.hoverIntent.minified', 'editor/chris'%>
    <%= stylesheet_link_tag 'chris_editor' %>

	<script>
	$(function() {
	});
	</script>
<% end %>

<% cols = 5 %>

<div id="new_pile_form" title="Create new pile">
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
    </fieldset>
  </form>
</div>


<div id="deck_name_container" class="title_block">
  <span class="title" id="deck_name_show"><%= @deck.name %></span>
  <input id="deck_name_field" style="display: none;" />
  <a id="edit_deck_name"><%= image_tag 'pencil.png' %></a>
</div>

<div class="deckEditor">
  <div class="searchWidget">
    <%= render :partial => "cards/search" %>
  </div>
  <div class="deckWorkspace">
    <%= render :partial => "pile", :collection => @deck.piles %>
  </div>
</div>

<div id="templates" class="invis">
  <%= render :partial => "pile", :collection => [Pile.new] %>
  <%= render :partial => "run" %>
</div>