<% content_for :head do %>
<script>
  $(function() {
  $( "#accordion" ).accordion({autoHeight: false,
  collapsible: true});
  });
  
  
  $(document).ready(function() {

  $("tr:nth-child(odd)").addClass("odd");
  $("tr:nth-child(even)").addClass("even");

  var triggers = $(".modalInput").overlay({

  // some mask tweaks suitable for modal dialogs
  mask: {
  color: '#333333',
  loadSpeed: 200,
  opacity: 0.9
  },
  
  closeOnClick: false
  });
  
  
  $("#newDeck form").submit(function(e) {
  
  // close the overlay
  triggers.eq(1).overlay().close();
  
  // get user input
  var input = $("input", this).val();
  
  // do something with the answer
  triggers.eq(1).html(input);
  
  // do not submit the form
  return e.preventDefault();
  });
  
  });
</script>

<script src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"></script>


<style>
  
  .modal {
  background-color:#333333;
  color: #ffffff;
  display:none;
  width:350px;
  padding:15px;
  text-align:left;
  border:2px solid #333;
  opacity:0.95;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px #888;
  }
  
  .modal h2 {
  background:url(/img/global/info.png) 0 50% no-repeat;
  margin:0px;
  padding:10px 0 10px 45px;
  border-bottom:1px solid #000000;
  font-size:20px;
  color:#ffffff;
  }

  .odd {
    background-color:#ffffff;
    color:#222222;
  }

  .odd a {
    color:#222222;
  }

  .even {
    background-color:#999999;
    color:#000000;
  }

  .even a {
    color:#000000;
  }
</style>
<% end %>

<!-- user input dialog -->
<div class="modal" id="newDeck">
  <h2>Create a New Deck:</h2>
  
  <p>
    Enter a new name to start from scratch:
  </p>
  
  
  <% form_for :deck do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.submit 'Create' %>
  </p>
  <% end %>
  
  <br/>
  
  <p>
    Or import a .dec file:
  </p>
  
  <%= form_for :dump, :url=>{:action => 'import'}, :html => {:multipart => true} do |f| %>
    <%= f.file_field :file %>
    <%= f.submit "Import Deck" %>
  <% end %>
  
  <br/>
  
  <button type="button" class="close"> Cancel </button>
</div>



<div style='height: 644px; width: 33%; border: 3px solid #111111; float: left;'>
  <h3>My Decks</h3>
  
  <table width="100%">
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Colors</th>
      <th></th> <!-- edit -->
      <th></th> <!-- delete -->
      <th></th>
    </tr>
    
    <% @decks.each do |deck| %>
    <tr>
      <td><%= link_to deck.name, deck %></td>
      <td><%=h deck.maindeck.count %></td>
      <td><%=h deck.colors %></td>
      <td><%= button_to 'Edit', edit_deck_path(deck) , :method => :get %></td>
      <td><%= button_to 'Delete', deck, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= button_to 'Export', export_deck_path(deck) , :method => :get %></td>
    </tr>
    <% end %>
  </table>
  <br/>
  
  <button class="modalInput" rel="#newDeck">Create a new deck</button>
</div>

<div class="deck_listing" style='height: 644px; width: 33%; border: 3px solid #111111; float: left;'>
  <h3>Friends' Decks</h3>
  <div id="accordion">
    <% @user_friends.each do |user| %>
    <h3><a href="#"><%= user.nick %>'s Decks</a></h3>
    <div>
      <table>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Colors</th>
          <th></th> <!-- edit -->
          <th></th> <!-- delete -->
        </tr>
        
        <% user.decks.all.each do |deck| %>
        <tr>
          <td><%= link_to deck.name, deck %></td>
          <td><%=h deck.maindeck.count %></td>
          <td><%=h deck.colors %></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>  
</div>
<div style='height: 644px; width: 32%; border: 4px solid #111111; float: left;'>
  <h3>Followed Decks</h3>
</div>
