<% content_for :head do %>
  <%= javascript_include_tag 'deck_index' %>
  <%= stylesheet_link_tag 'deck_index' %>
<% end %>

<!-- user input dialog -->
<div class="modal" id="newDeck">
  <h2>Create a New Deck</h2>
  
  <div class="left_side">
    <p>Enter a new name to start from scratch</p>
  
    <% form_for :deck do |f| %>
      <%= f.text_field :name %>
      <br />
      <%= f.submit 'Create' %>
    <% end %>

    <p class="top_space">Or import a .dec file</p>

    <%= form_for :dump, :url=>{:action => 'import'}, :html => {:multipart => true} do |f| %>
      <%= f.file_field :file %>
    <br />
      <%= f.submit "Import Deck" %>
    <% end %>
  </div>

  <div class="right_side">
    <p>Or copy/paste a decklist</p>

    <%= form_for :dump, :url=>{:action => 'addFromDeckList'}, :html => {:multipart => true} do |f| %>
      <%= f.text_area :decklist %>
      <%= f.submit 'Deck From List' %>
    <% end %>
  </div>

  <div class="model_footer">
    <button type="button" class="close">Cancel</button>
  </div>
</div>



<div style='height: 644px; width: 33%; border: 3px solid #111111; float: left;'>
  <h3>My Decks</h3>
  
  <table width="100%">
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Colors</th>
      <th></th> <!-- edit -->
      <th></th> <!-- delete -->
      <th></th>
    </tr>
    
    <% @decks.each do |deck| %>
    <tr>
      <td><%= link_to deck.name, deck %></td>
      <td><%=h deck.maindeck.count %></td>
      <td><%=h deck.colors %></td>
      <td><%= button_to 'Edit', edit_deck_path(deck) , :method => :get %></td>
      <td><%= button_to 'Delete', deck, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= button_to 'Export', export_deck_path(deck) , :method => :get %></td>
    </tr>
    <% end %>
  </table>
  <br/>
  
  <button class="modalInput" rel="#newDeck">Create a new deck</button>
</div>

<div class="deck_listing" style='height: 644px; width: 33%; border: 3px solid #111111; float: left;'>
  <h3>Friends' Decks</h3>
  <div id="accordion">
    <% @user_friends.each do |user| %>
    <h3><a href="#"><%= user.nick %>'s Decks</a></h3>
    <div>
      <table>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Colors</th>
          <th></th> <!-- edit -->
          <th></th> <!-- delete -->
        </tr>
        
        <% user.decks.all.each do |deck| %>
        <tr>
          <td><%= link_to deck.name, deck %></td>
          <td><%=h deck.maindeck.count %></td>
          <td><%=h deck.colors %></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>  
</div>
<div style='height: 644px; width: 32%; border: 4px solid #111111; float: left;'>
  <h3>Followed Decks</h3>
</div>
