<% content_for :head do %>
  <%= javascript_include_tag 'deck_index' %>
  <%= stylesheet_link_tag 'deck_index' %>
<% end %>

<!-- user input dialog -->
<div class="modal" id="newDeck">
  <h2>Create a New Deck</h2>
  
  <div class="left_side">
    <p>Enter a new name to start from scratch</p>
  
    <% form_for :deck do |f| %>
      <%= f.text_field :name %>
      <br />
      <%= f.submit 'Create' %>
    <% end %>

    <p class="top_space">Or import a .dec file</p>

    <%= form_for :dump, :url=>{:action => 'import'}, :html => {:multipart => true} do |f| %>
      <%= f.file_field :file %>
    <br />
      <%= f.submit "Import Deck" %>
    <% end %>
  </div>

  <div class="right_side">
    <p>Or copy/paste a decklist</p>

    <%= form_for :dump, :url=>{:action => 'addFromDeckList'}, :html => {:multipart => true} do |f| %>
      <%= f.text_area :decklist %>
      <%= f.submit 'Deck From List' %>
    <% end %>
  </div>

  <div class="model_footer">
    <button type="button" class="close">Cancel</button>
  </div>
</div>

<div style="width:100%;">
<div class="decks" >
  <h3>
    <table width=100%>
      <tr>
        <td width=33% style="background-color:#555566">
        </td>
        <td width=34% class="decksTitle">
          Decks
        </td>
        <td width=33% align="right" style="background-color:#555566">
          <button class="newDeckButton" rel="#newDeck">New Deck</button> 
        </td>
      </tr>
    </table>
  </h3>
  <div id="accordion">
    
    <h3><a href="#">My Decks</a></h3>
    <div width=100%>
      <table class="deckTable" width=100%>
        <thead>
          <th>Name</th>
          <th>Count</th>
          <th>Colors</th>
          <th></th> <!-- edit -->
          <th></th> <!-- delete -->
          <th></th>
        </thead>

        <% @decks.each do |deck| %>
        <tr>
          <td><%= link_to deck.name, deck %></td>
          <td><%=h deck.maindeck.count %></td>
          <td><%=h deck.colors %></td>
          <td><%= button_to 'Modify', edit_deck_path(deck) , :method => :get, :class => "buttonTo" %></td>
          <td><%= button_to 'Delete', deck, :confirm => 'Are you sure?', :method => :delete, :class => "buttonTo" %></td>
          <td><%= button_to 'Export', export_deck_path(deck) , :method => :get, :class => "buttonTo" %></td>
        </tr>
        <% end %>

      </table>
    </div>

    <% @user_friends.each do |user| %>
    <h3><a href="#"><%= user.nick %>'s Decks</a></h3>
    <div width=100%>
      <table class="deckTable" width=100%>
        <thead>
          <th>Name</th>
          <th>Count</th>
          <th>Colors</th>
          <th></th> <!-- edit -->
          <th></th> <!-- delete -->
        </thead>
        
        <% user.decks.all.each do |deck| %>
        <tr>
          <td><%= link_to deck.name, deck %></td>
          <td><%=h deck.maindeck.count %></td>
          <td><%=h deck.colors %></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>  
</div>
</div>
<!--div class="decks">
  <h3>Followed Decks</h3>
</div-->
